.about {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 40px;
    background-size: auto 17px;
  }

  @media (min-width: $desktop-width) {
    background-size: auto 23px;
  }
}

.about.wrapper {
  @media (min-width: $desktop-width) {
    padding: 70px 180px 30px 225px;
  }
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}

.about__list {
  @include list-reset;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  margin-bottom: 30px;
  max-width: 295px;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: "";
    width: 55px;
    height: 38px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    display: block;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    margin-right: 35px;

    &--price {
      order: 3;
    }

    &--like {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--production {
      order: 4;
    }

    &--package {
      order: 6;
    }
  }
}

.about__item--material::before {
  background-image: url("../img/icon-feature-flower.svg");
}

.about__item--price::before {
  background-image: url("../img/icon-feature-money.svg");
}

.about__item--like::before {
  background-image: url("../img/icon-feature-heart.svg");
}

.about__item--handmade::before {
  background-image: url("../img/icon-feature-ball.svg");
}

.about__item--production::before {
  background-image: url("../img/icon-feature-rocket.svg");
}

.about__item--package::before {
  background-image: url("../img/icon-feature-gift.svg");
}
