.additional {
  @media (min-width: $tablet-width) {
    align-items: inherit;
    padding-top: 50px;
    padding-bottom: 27px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 225px;
    padding-left: 110px;
    margin: 0 auto;
  }
}
