.button {
  background-color: transparent;
  border: 2px solid $extra-dark;
  border-radius: 0;
  color: $extra-dark;
  display: block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
