.button {
  @include button-reset;
  border: 2px solid $extra-dark;
  color: $extra-dark;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
