.button {
  @include button-reset;
  border: 2px solid $extra-dark;
  color: $extra-dark;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: color 0.2s, background-color 0.2s, border 0.2s;

  &:hover,
  &:focus {
    background-color: $extra-dark;
    color: $basic-white;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
