.contacts {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;
  padding: 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 30px 0;
}

.contacts__map {
  background-image: url("../img/map-mobile@1x.jpg");
  margin-bottom: 30px;
}

.contacts__inner {
  color: $extra-dark;
  display: grid;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 30px;
  row-gap: 30px;
}

.contacts__item {
  column-gap: 30px;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 0;

  & a {
    color: inherit;
    margin: 0;
    text-decoration: none;
  }
}

.contacts__item-name {
  text-transform: lowercase;
}

.contacts__item-value {
  margin: 0;
}
