.copyright {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.copyright__text {
  margin: auto 0;
  padding-right: 30px;
}
