.feedback-list {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 115px;

    display: grid;
    grid-template-columns: auto 180px;
    column-gap: 30px;

    @include retina-dppx {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }
}

.feedback-list.wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding-left: 175px;
  }
}

.feedback-list__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 35px;

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }

  @media (min-width: $tablet-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.feedback-list__card {
  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
  }
}

.feedback-list__toggle {
  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
  }
}

.feedback-list__button {
  width: 100%;
  margin: 0 auto;
  max-width: 520px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 15px 35px;
    margin-bottom: 40px;
    font-size: 17px;

    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }
}
