.footer {
  background-color: $light-grey-bg;

  & .wrapper {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-column-gap: 0;
      grid-template-columns: auto 1fr auto;
    }
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 53px;
  }
}

.footer__logo-img {
  color: $basic-black;
  transition: color $transition-duration;

  &:hover,
  &:focus {
    color: $blue-bg-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
