.form-contacts {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
    padding-top: 47px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 200px;
    padding-left: 100px;
  }
}
