.form-contacts {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
    padding-top: 47px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 225px;
    padding-left: 110px;
    padding-top: 39px;

    & .option__input {
      padding-bottom: 16px;
    }
  }

}
