.form__element {
  border: none;
  margin: 0;
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    padding: 50px 0 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 6fr;
  }
}

.form__element.wrapper {
  @media (min-width: $desktop-width) {
    padding-right: 200px;
    padding-left: 100px;
  }
}

.form__legend {
  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.form__legend-name {
  display: block;
  color: $light-blue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  padding: 0;
  margin-bottom: 25px;
  position: relative;

  &::after {
    content: "";
    width: 60vw;
    height: 1px;
    background-color: #63d1bb;
    position: absolute;
    top: 8px;
    left: 60px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 20px;

    &::after {
      display: none;
    }
  }
}

.form__legend--tel,
.form__legend--email,
.form__legend--additional {
  margin: 0;
}

.form__option {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__notice {
  font-size: 14px;
  line-height: 16px;
  color: $extra-dark;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 14px 32px;
    order: -1;
  }
}

.form__button-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__button-container.wrapper {
  @media (min-width: $desktop-width) {
    padding-right: 200px;
    padding-left: 240px;
  }
}
