.form__element {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    margin-bottom: 50px;
  }
}

.form__legend {
  color: $light-blue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  padding: 0;
  margin-bottom: 25px;
  // &::after {
  //   content: "";
  //   display: inline-block;
  //   width: 100%;
  //   height: 1px;
  //   background-color: $light-blue;
  // }


  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.form__legend--tel,
.form__legend--email,
.form__legend--additional {
  margin: 0;
}

.form__option {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__notice {
  font-size: 14px;
  line-height: 16px;
  color: $extra-dark;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.form__button {
  @media (min-width: $tablet-width) {
    width: auto;
    padding: 15px 32px;
  }
}
