.main__title {
  background-color: $light-grey-bg;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px;
  text-align: center;
}
