.menu {
  @include list-reset;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  & a {
    color: inherit;
  }
}

.menu__item {
  padding: 30px 45px;
  border-bottom: 1px solid $grey-border;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    border: none;
    padding: 31px 30px 31px 0;
  }
}

.menu--user {
  @media (min-width: $tablet-width) {
    display: flex;

    & .menu__item {
      border-bottom: none;
      border-left: 1px solid $grey-border;
      align-items: flex-start;
      height: min-content;
      padding-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 40%;
    justify-content: flex-end;
  }
}

.menu--site {

  & .menu__item:nth-of-type(3),
  & .menu__item:nth-of-type(4) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 24px;
    display: flex;
    z-index: 1;
    order: 3;

    & .menu__item {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    order: -1;
    flex-basis: 40%;
    flex-wrap: wrap;

    & .menu__item:nth-of-type(3),
    & .menu__item:nth-of-type(4) {
      display: block;
    }
  }
}

.menu__search-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
