.menu {
  @include list-reset;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  & a {
    color: inherit;
  }
}

.menu__item {
  padding: 30px 45px;
  border-bottom: 1px solid $grey-border;

  @media (min-width: $tablet-width) {
    padding: 30px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    border: none;
  }
}

.menu--desktop-only {
  display: none;
  font-size: 15px;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.menu--user {
  @media (min-width: $tablet-width) {
    display: flex;

    & .menu__item {
      border-bottom: none;
      border-left: 1px solid $grey-border;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 40%;
    justify-content: flex-end;
  }
}

.menu--site {
  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 24px;
    display: flex;
    z-index: 1;
    order: 3;

    & .menu__item {
      border-bottom: none;
      padding: 20px 30px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    order: -1;
    flex-basis: 40%;
  }
}

.menu__search-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
