.menu {
  @include list-reset;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  & a {
    color: inherit;
  }
}

.menu__item {
  padding: 30px 0 30px 45px;
  border-bottom: 1px solid $grey-border;
}

.menu--user {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 50px;
    display: flex;
    padding: 0;

    & .menu__item {
      border-bottom: none;
      border-left: 1px solid $grey-border;
      padding: 30px;
    }
  }
}

.menu--site {
  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 24px;
    display: flex;
    position: absolute;
    top: 90px;
    z-index: 1;

    & .menu__item {
      padding: 20px 30px 0 0;
      border-bottom: none;
    }
  }
}
