.name {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    column-gap: 47px;
    margin-bottom: 0;
    padding-bottom: 41px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 31px;
  }
}

.name .form__legend {
  margin-bottom: 29px;
}

.name .option__item {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}
