.option {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.option__item {
  display: flex;

  &--column {
    flex-direction: column;
  }
}

.option__input {
  border: none;
  border-bottom: 2px solid $basic-black;
  padding: 17px 0;
}

.option__textarea {
  margin: 20px 0 0 0;
  padding: 15px;
  width: 100%;
  border: 2px solid $extra-dark;
}
