.order {
  padding: 0;
  padding-top: 18px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }
}

.order__note {
  color: $extra-dark;
  font-size: 13px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

.order__note.wrapper {
  @media (min-width: $desktop-width) {
    padding-right: 200px;
    padding-left: 240px;
  }
}
