.order {
  padding: 20px 0 55px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }
}

.order__note {
  color: $extra-dark;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 60px;
  }
}
