.popular-item {
  color: $extra-dark;
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: 20% 20% auto auto;
    grid-template-rows: 1fr auto 1fr min-content;
    column-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 175px 30% auto;
    margin-left: auto;
    padding-top: 70px;
    column-gap: 0;
  }
}

.popular-item__title {
  color: $basic-black;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: grid;
  row-gap: 5px;
  margin: 0 0 20px 0;
  position: relative;

  &::after {
    font-size: 17px;
    line-height: 20px;
    content: attr(data-description);
    color: $light-blue;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 5;

    &::after {
      line-height: 17px;
      width: 125px;
      text-align: center;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 4;

    font-size: 53px;
    line-height: 57px;
    z-index: 1;
    padding-top: 60px;

    flex-direction: row-reverse;
    justify-content: flex-end;

    &::after {
      margin-right: 40px;
      margin-left: -165px;
    }
  }
}

.popular-item__description {
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;

    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
  }
}

.popular-item__table {
  @media (min-width: $tablet-width) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
  }
}

.popular-item__img {
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 5;

    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 4;
  }
}


.popular-item__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 25px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 30px;

    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
  }
}

.popular-item__button {
  @media (min-width: $tablet-width) {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 3;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
  }
}
