.popular-item {
  color: $extra-dark;
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: 20% 20% auto auto;
    column-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 30% auto;
    width: 85%;
    margin-left: auto;
    padding-top: 70px;
  }
}

.popular-item__title {
  color: $basic-black;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: grid;
  row-gap: 5px;
  margin: 0 0 20px 0;
  position: relative;

  &::after {
    font-size: 17px;
    line-height: 20px;
    content: attr(data-description);
    color: $light-blue;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 1 / 2 / 5;

    &::after {
      line-height: 17px;
      width: 125px;
      text-align: center;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1 / 2 / 3;

    font-size: 53px;
    line-height: 57px;
    z-index: 1;
    padding-top: 60px;

    &::after {
      position: absolute;
      left: -140px;
    }
  }
}

.popular-item__description {
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;

    grid-area: 2 / 1 / 3 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.popular-item__table {
  @media (min-width: $tablet-width) {
    grid-area: 3 / 1 / 4 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-area: 3 / 1 / 4 / 2;
  }
}

.popular-item__img {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-area: 2 / 3 / 6 / 5;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 6 / 3;
  }
}


.popular-item__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 25px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 30px;

    grid-area: 4 / 1 / 5 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-area: 4 / 1 / 5 / 2;
  }
}

.popular-item__button {

  // кнопка тянется в высоту :(

  @media (min-width: $tablet-width) {
    grid-area: 5 / 1 / 6 / 3;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 5 / 1 / 6 / 2;
  }
}
