.production {
  border: 1px solid $grey-border;
  padding: 0;
  margin-bottom: 60px;
  position: relative;

  &::after {
    display: none;
    content: "";
    position: absolute;
    box-shadow: 0 6px 10px rgba($basic-black, 0.1);
    z-index: -2;
  }

  @media (max-width: $mobile-max-width) {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 668px;
    margin-right: auto;
    margin-bottom: 64px;
    margin-left: auto;

    &::after {
      width: 100%;
      height: 304px;
      left: 0;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;

    &::after {
      width: 366px;
      height: 100%;
      top: 0;
      right: 0;
      left: auto;
    }
  }

  &:hover {
    &::after {
      display: block;
    }
  }

  &:active {
    &::after {
      box-shadow: 0 3px 5px rgba($basic-black, 0.1);
    }
  }
}


.production__text {
  color: $extra-dark;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding-top: 35px;
  padding-right: 30px;
  padding-bottom: 41px;
  padding-left: 33px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    padding: 0 56px 0 80px;
    margin-bottom: 50px;
  }
}

.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 33px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: url("../img/icon-video.svg");
    display: block;
    margin-right: 25px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-top: 36px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 56px;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 682px);

    &::before {
      position: relative;
      display: block;
      margin-bottom: 30px;
    }
  }
}

.production__button {
  margin: 0 32px;

  @media (min-width: $tablet-width) {
    margin: 0 40px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-right: 56px;
  }
}

.production__inner {
  position: relative;

  &::after {
    transition: box-shadow $transition-duration;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 30px;

    &:hover {
      box-shadow: 0 6px 10px rgba($basic-black, 0.1);
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-top: -267px;
    width: calc(100% - 682px);

    &:hover::after {
      right: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% + 164px);
      box-shadow: 0 6px 10px rgba($basic-black, 0.1);
    }
  }
}
