.production {
  border: 1px solid $grey-border;
  padding: 0;
  margin-bottom: 60px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1);
  }

  @media (max-width: $mobile-max-width) {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 668px;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    margin-top: 454px;
  }

  // TODO почему-то не получается поставить в стык, не пойму в чем дело

  @media (min-width: $desktop-width) {
    height: 452px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 100px;
    width: max-content;
  }
}

.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 20px;
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: url("../img/icon-video.svg");
    display: block;
    margin-right: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 40px 40px 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 56px;
    flex-direction: column;
    align-items: flex-start;

    &::before {
      position: relative;
      display: block;
      margin-bottom: 30px;
    }
  }
}

.production__button {
  margin: 0 30px 30px 30px;

  @media (min-width: $tablet-width) {
    margin: 0 40px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-right: 56px;
  }
}
