.product {
  transition: box-shadow $transition-duration;

  @media (max-width: $mobile-max-width) {
    max-width: 520px;
    margin: 0 auto;
  }
  cursor: pointer;
  border: 1px solid $grey-border;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 30%;
    margin-bottom: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1);
  }
}

.product__img {
  margin: 0 auto;
}

.product__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 5px 0;

  & a {
    color: inherit;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &:hover,
  & a:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__description {
  padding: 0 0 20px;
  margin: 0;
  color: $extra-dark;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.product__price {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;


  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__inner {
  padding: 30px 35px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: 55%;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.product__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid $grey-border;
  margin-top: auto;
}

.product__button > svg {
  opacity: 0.2;
  transition: fill $transition-duration, opacity $transition-duration;
}

.product__button {
  &:hover > svg,
  &:focus > svg {
    fill: $light-blue;
    opacity: 1;
  }

  &:active > svg {
    opacity: 0.3;
  }
}
