.products {
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
