.social {
  @include list-reset;
  display: flex;
  column-gap: 40px;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 22px;
  border-bottom: 1px solid $footer-border;
}

.social__item {
  margin: auto 0;
}

.social__link {
  color: $basic-black;
  transition: color $transition-duration, opacity $transition-duration;

  &:hover,
  &:focus {
    color: $blue-bg-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
