.social {
  @include list-reset;
  display: flex;
  column-gap: 40px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $footer-border;
}

.social__item {
  margin: auto 0;
}

.social__link {
  & svg {
    transition: fill $transition-duration;
  }

  &:hover > svg,
  &:focus > svg {
    fill: $blue-bg-hover;
  }

  &:active > svg {
    opacity: 0.3;
  }
}
