.toggle {
  margin: 0 auto 30px;
  width: max-content;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 120px;
    right: 50px;
  }
}

.toggle__item {
  width: 130px;
  height: 50px;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid $grey-border;

  @media (min-width: $tablet-width) {
    border: none;
    width: 75px;
  }
}
