.toggle {
  margin: 0 auto;
  width: max-content;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    margin-left: -18px;
    margin-bottom: 30px;
  }
}

.toggle__item {
  @include button-reset;
  padding: 13px 39px;
  border: 1px solid $grey-border;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    border: none;
    padding-right: 0;
    padding-left: 40px;
  }

  &:hover > svg,
  &:focus > svg {
    opacity: 0.6;
  }

  &:active > svg {
    opacity: 0.3;
  }
}

.toggle__item svg {
  transition: opacity $transition-duration;
}
