.toggle {
  margin: 0 auto 30px;
  width: max-content;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.toggle__item {
  @include button-reset;
  padding: 13px 40px;
  border: 1px solid $grey-border;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    border: none;
    padding-right: 0;
    padding-left: 40px;
  }
}
