.type {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    margin-bottom: 22px;
  }
}

.type .form__legend {
  margin-bottom: 32px;
}
