.type {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    margin-bottom: 19px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }
}

.type .form__legend {
  margin-bottom: 32px;
}
