.video {
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.video__img {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.video__button {
  @include button-reset;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -50px;
  transition: $transition-duration;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.video__text {
  color: $extra-dark;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    padding: 0 40px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    padding: 0 60px 0 70px;
    margin-bottom: 50px;
  }
}
