.video {
  position: relative;

  // из-за минусового марджина не получается посредине поставить видео

  @media (min-width: $tablet-width) {
    order: -1;
    max-width: 682px;
  }
}

.video__img {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.video__button {
  @include button-reset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform $transition-duration;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.video__container {
  display: block;
}
