@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/opensans.woff2"), url("/source/fonts/opensans.woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/opensansbold.woff2"), url("/source/fonts/opensansbold.woff");
}
