$basic-black: #000000;
$basic-white: #ffffff;
$blue-border-link: #62d1ba;
$extra-dark: #444444;
$footer-border: #e5e5e5;
$grey-border: #ececec;
$light-blue: #63d1bb;
$light-blue-hover: #59d5bc;
$light-grey-bg: #f1f1f1;
$blue-bg: #56c3b2;
$blue-bg-hover: #46c1ae;
$promo-bg: #f9f9f9;

$transition-duration: 0.2s;

$modal-border: #c6c6c6;
$modal-shadow: #000101;

$mobile-max-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
