$basic-black: #000000;
$basic-white: #ffffff;
$light-blue: #63d1bb;
$toys-bg: #56c3b2;
$light-grey-bg: #f1f1f1;
$extra-dark: #444444;
$grey-border: #ececec;
$footer-border: #e5e5e5;
$blue-border-link: #62d1ba;
